# Compiler output
cache/
out/

# Dependencies
lib/
node_modules/

# Environment / secrets
.env
.env.*
.secret
.secrets/
*.key
*.pem
broadcast/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
lcov.info
coverage/
